html{
    font-size: 24px;
}

body{  
    margin: 0;  
    padding: 0;  
    background-color:#6adea4ba;  
    font-family: 'Arial';
    text-align: center;  
}  

h1{  
    text-align: center;  
    color: blue;  
    padding: 20px;  
} 

span{ 
    color: rgb(15, 13, 13);  
    font-size: 17px;  
}  
   
